    </div>
    <script src="/vendors/highlight.min.js"></script>
    <script>
      if (document.querySelector("code")) {
        const theme =  window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)").matches ? "-dark" : ""
        const link = document.createElement("link")
        link.setAttribute("rel", "stylesheet")
        link.setAttribute("href", `/vendors/github${theme}.min.css`)
        document.querySelector("head").append(link)
        hljs.highlightAll()
      }
    </script>
  </body>
</html>