<a href="https://github.com/<%= maintainer %>" class="Label Label--primary ml-1">
  <img class="avatar avatar-2 mx-2 my-1" alt="<%= maintainer %>" src="https://github.com/<%= maintainer %>.png?v=3&s=64" />
  <%= maintainer %>
</a>